<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.foxaice.smartlight">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".application.SmartLightApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main_screen.view.MainScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.controllers_screen.view.ControllersScreenActivity"/>
        <activity android:name=".activities.redefinition_zones_screen.view.RedefinitionZonesScreenActivity"/>
        <activity android:name=".activities.renaming_zones_screen.view.RenamingZonesScreenActivity"/>
        <activity android:name=".activities.music_mode_settings.view.MusicModeSettingsScreenActivity"/>
    </application>

</manifest>